<h1><%= @subsidiary.name %> - <%= @subsidiary.cnpj %> - <%= @subsidiary.address %></h1>

<h3><%=link_to t('.back'), subsidiaries_path%></h3>

<h3><%=link_to t('.edit'), edit_subsidiary_path(@subsidiary.id)%></h3>

<h3><%=link_to t('.delete'), @subsidiary, method: :delete%></h3>