<%= render partial: 'errors', locals: { record: @customer } %>

<%= form_with model: @customer do |f|%>
  <ul>
  <li><%= f.label :name %>
  <%= f.text_field :name %></li>
  <li><%= f.label :document %>
  <%= f.text_field :document %></li>
  <li><%= f.label :email %>
  <%= f.text_field :email %></li>
  <li><%= f.submit t('.submit') %></li>
  </ul>
<%end%>