<% if @customers.blank? %>
  <h1><%= t('.blank_customers') %></h1>
<% end %>

<div>
  <%= form_with url: search_customers_path, local: true, method: :get do |f|%>
    <%= f.label :search, t('.search') %>
    <%= f.search_field :search %>
    <%= f.submit t('.submit') %>
  <% end %>
</div>

<h2><%= render @customers %></h2>

<h2><%=link_to t('.new_customer'), new_customer_path%></h2>