<% if @customers.blank? %>
  <h1>Nenhum cliente cadastrado</h1>
<% end %>

<div>
  <%= form_with url: search_customers_path, local: true, method: :get do |f|%>
    <%= f.label :search, 'Busca' %>
    <%= f.search_field :search %>
    <%= f.submit 'Pesquisar' %>
  <% end %>
</div>

<h2><%= render @customers %></h2>

<h2><%=link_to 'Registrar novo cliente', new_customer_path%></h2>