<%= render partial: 'errors', locals: { record: @car_category } %>
<%= form_with model: @car_category do |f|%>
  <ul>
  <li><%= f.label :name %>
  <%= f.text_field :name %></li>
  <li><%= f.label :daily_rate %>
  <%= f.text_field :daily_rate %></li>
  <li><%= f.label :car_insurance %>
  <%= f.text_field :car_insurance %></li>
  <li><%= f.label :third_part_insurance %>
  <%= f.text_field :third_part_insurance %></li>
  <li><%= f.submit t('.submit')%></li>
  </ul>
<%end%>