<h1><%= t('.category') %> <%= @car_category.name %></h1>
<h2><%= t('.daily_rate') %>: <%= number_to_currency @car_category.daily_rate %></h2>
<h2><%= t('.car_insurance') %>: <%= number_to_currency @car_category.car_insurance %></h2>
<h2><%= t('.third_part_insurance') %>: <%= number_to_currency @car_category.third_part_insurance %></h2>


<h2><%=link_to t('.back'), car_categories_path%></h2>