<div>
  <%= form_with url: search_rentals_path, local: true, method: :get do |f|%>
    <%= f.label :code, t('.search') %>
    <%= f.search_field :code %>
    <%= f.submit t('.find') %>
  <% end %>
</div>
<% if @rentals.blank? %>
  <h1><%= t('.blank_rentals') %></h1>
<% else %>
  <div>
    <table>
      <tr>
        <th><%= Rental.human_attribute_name :code %></th>
        <th><%= Rental.human_attribute_name :start_date %></th>
        <th><%= Rental.human_attribute_name :end_date %></th>
        <th><%= Rental.human_attribute_name :customer %></th>
        <th><%= Rental.human_attribute_name :car_category %></th>
      </tr>
      <% @rentals.each do |rental| %>
        <tr>
          <td><%= rental.code %>
          <td><%= l rental.start_date %>
          <td><%= l rental.end_date %>
          <td><%= link_to rental.customer.identification, rental.customer %>
          <td><%= link_to rental.car_category.name, rental.car_category %>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>
<%= link_to t('.new_rental'), new_rental_path %>
