<h1><%= t('.confirm') %></h1>
<dl>
  <dt><%= Rental.human_attribute_name :code %></dt>
  <dd><%= @rental.code %>
  <dt><%= t('.category') %></dt>
  <dd><%= @rental.car_category.name %></dd>
</dl>
<%= form_with(model: [@rental, @car_rental], local: true) do |f|%>
  <%= f.label :car_id %>
  <%= f.collection_select :car_id, @available_cars, :id, :description %>
  <%= f.collection_check_boxes :add_on_ids, @add_ons, :id, :name %>
  <%= f.submit 'Confirmar' %>
<% end %>