<% if @car_models.blank? %>
  <h1><%= t('.blank_car_models') %></h1>
<%else%>
  <table>
    <tr>
      <th><%= @car_models.model_name.human count: 2 %></th>
      <th><%= @car_models.human_attribute_name :year %></th>
      <th><%= @car_models.human_attribute_name :motorization %></th>
      <th><%= @car_models.human_attribute_name :fuel_type %></th>
      <th><%= @car_models.human_attribute_name :manufacturer %></th>
      <th><%= @car_models.human_attribute_name :car_category %></th>
    </tr>
    <% @car_models.each do |car_model|%>
      <tr>
        <td><%= car_model.name %></td>
        <td><%= car_model.year %></td>
        <td><%= car_model.motorization %></td>
        <td><%= car_model.fuel_type %></td>
        <td><%= link_to car_model.manufacturer.name, car_model.manufacturer %></td>
        <td><%= link_to car_model.car_category.name, car_model.car_category %></td>
      </tr>
    <%end%>
  </table>
<% end %>

<h2><%=link_to t('.new_car_model'), new_car_model_path%></h2>

<h2><%=link_to t('.back'), root_path%></h2>
